<footer>
  <nav>
    <% if !user_signed_in? %>
      <a href="#">Sign Up!</a>
    <% end %>
    <%= link_to "About Us", about_path %>
    <a href="#">Contact</a>
  </nav>

  <aside>&copy; 2015 VOresQ, LLC</aside>
</footer>

  