<h1 class="text-center" style="margin-top: 100px;">About Us</h1>

<p class="lead col-xs-offset-2 col-xs-8">VOQA is a VO Q&amp;A platform for people to ask and answer questions related to the voice over industry, the industry of spoken word recordings.</p>
